<!-- <footer class="footer">
  <p class="par">
    © 2026 Meal_Delight | Designed by Aryan Gupta, Sarthak Sharma, Krish Budhia
  </p>
</footer> -->
<footer class="footer">
  <div class="footer-card">
    <!-- Left Section -->
    <div class="footer-left">
      <h3 class="ride" style="font-family: cursive">Sync Rides</h3>
      <p>
        Smart carpool matching platform. Find rides, share trips, and split
        costs with reliability.
      </p>

      <!-- Social Icons -->
      <div class="social-icons">
        <a href="#" class="icon"><i class="bi bi-instagram"></i></a>
        <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
        <a href="#" class="icon"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

    <!-- Right Section -->
    <div class="footer-right">
      <div class="footer-col">
        <h5>Product</h5>
        <a href="#">Find a Ride</a>
        <a href="#">Offer a Ride</a>
        <a href="#">Dashboard</a>
        <a href="#">Feedback</a>
      </div>

      <div class="footer-col">
        <h5>Company</h5>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Careers</a>
        <a href="#">Blog</a>
      </div>

      <div class="footer-col">
        <h5>Carpool Info</h5>
        <a href="#">Safety Guidelines</a>
        <a href="#">Driver Ratings</a>
        <a href="#">Fare Estimates</a>
        <a href="#">Support</a>
      </div>
      <div class="footer-col">
        <h5>Resources</h5>
        <a href="#">Help Center</a>
        <a href="#">Privacy Policy</a>
        <a href="#">FAQs</a>
        <a href="#">Terms & Conditions</a>
      </div>
    </div>
  </div>

  <p class="footer-bottom">© 2026 Sync Rides. All rights reserved.</p>
</footer>
