<!-- <footer class="footer">
  <p class="par">
    © 2026 Meal_Delight | Designed by Aryan Gupta, Sarthak Sharma, Krish Budhia
  </p>
</footer> -->
<footer class="footer">
  <div class="footer-card">
    <!-- Left Section -->
    <div class="footer-left">
      <h3 style="font-family: cursive">Meal Delight</h3>
      <p>
        Smart mess management system for students. Easy meal tracking, menu
        updates, and payments.
      </p>

      <!-- Social Icons -->
      <div class="social-icons">
        <a href="#" class="icon"><i class="bi bi-instagram"></i></a>
        <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
        <a href="#" class="icon"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

    <!-- Right Section -->
    <div class="footer-right">
      <div class="footer-col">
        <h5>Product</h5>
        <a href="#">Menu</a>
        <a href="#">QR Entry</a>
        <a href="#">Dashboard</a>
        <a href="#">Feedback</a>
      </div>

      <div class="footer-col">
        <h5>Company</h5>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Careers</a>
        <a href="#">Blog</a>
      </div>

      <div class="footer-col">
        <h5>Resources</h5>
        <a href="#">Help Center</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">FAQs</a>
      </div>
      <div class="footer-col">
        <h5>Mess Info</h5>
        <a href="#">Today's Menu</a>
        <a href="#">Weekly Menu</a>
        <a href="#">Mess Timings</a>
        <a href="#">Rules</a>
      </div>
    </div>
  </div>

  <p class="footer-bottom">© 2026 Meal_Delight. All rights reserved.</p>
</footer>
