<% layout('/layouts/boilerplate.ejs') %>

<h1 class="head">
  Welcome to
  <img src="/img/text1.png" height="85px" width="170px" />
</h1>
<p class="cap">Smart Mess Management for Students</p>

<div class="graph"><img src="/img/graph.png" class="graph-i" /></div>
