/* Card style footer */
.footer-card {
  margin-top: 20px;
  width: 108%;
  max-width: 1000px;
  background: linear-gradient(135deg, #1f7b51, #064d31);
  /* border-radius: 20px; */
  padding: 40px;
  display: flex;
  justify-content: space-between;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Left section */
.footer-left {
  max-width: 300px;
}

.footer-left h2 {
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.5;
}

/* Social icons */
.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
}

/* Right section */
.footer-right {
  display: flex;
  gap: 40px;
}

/* Columns */
.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-bottom: 6px;
  transition: 0.2s;
}

.footer-col a:hover {
  opacity: 0.7;
}

/* Bottom text */
.footer-bottom {
  margin-top: 15px;
  font-size: 12px;
  color: #fffefe;
}
@media (max-width: 768px) {
  .footer-card {
    flex-direction: column;
    gap: 30px;
  }

  .footer-right {
    flex-direction: column;
    gap: 20px;
  }
}
.graph-i {
  width: 75%;
  height: auto;
}
.icon {
  padding-left: 10px !important;
}
