* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #020d14;
  overflow-x: hidden;
}

.bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background:
    radial-gradient(circle at right, rgba(0, 255, 255, 0.2), transparent 40%),
    radial-gradient(circle at left, rgba(0, 255, 255, 0.1), transparent 30%),
    #020d14;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.bg::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 30%;
  left: -50%;
  background: radial-gradient(circle, rgba(0, 255, 255, 0.2), transparent 60%);
  filter: blur(60px);
  z-index: -1;
}

.navbar {
  display: flex;
  padding: 3px !important;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  /* -webkit-backdrop-filter: blur(12px); Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

a {
  padding-left: 10px !important;
  color: #ffffff !important;
}

.content {
  flex: 1;
}

@media (min-width: 992px) {
  a {
    padding-left: 30px !important;
  }
}

.nav-link {
  transition: all 0.35s ease !important;
}

.nav-link:hover {
  font-size: 18px;
  font-weight: 600;
}

nav ul {
  padding-top: auto;
}

.navbar-toggler {
  background-color: white !important;
}

.navbar-toggler:focus {
  box-shadow: 0px 0px 20px 0.1rem !important;
}

.profile {
  padding-bottom: 0 !important;
}

.material-icons {
  font-size: 34px !important;
  padding: auto;
  line-height: normal;
}

.log {
  margin-bottom: 10px;
  padding-left: 0 !important;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.35s ease !important;
}

.log:hover {
  font-size: 16px;
  color: rgb(159, 174, 174) !important;
}
@media (max-width: 992px) {
  .profile-log,
  .profile {
    display: none !important;
  }
  .log {
    display: block;
    padding-left: 10px !important;
    font-size: 17px;
  }
  .log:hover {
    font-size: 18.5px;
  }
  .graph {
    padding: 10px !important;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 1000px; */
  margin: 0px;
  padding: 12px 16px;
  height: auto;
  min-height: 50px;
  /* background: rgba(1, 9, 20, 0.85); */
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
  /* border-radius: 10px; */
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35); */
  /* text-align: center; */
  /* color: #fff; */
  position: relative;
  z-index: 2;
}

.footer .par {
  margin: 0;
  font-size: 0.88rem;
  color: #f8fafa;
  opacity: 0.9;
  letter-spacing: 1px;
}

.par {
  color: #ffffff !important;
  opacity: 1 !important;
  margin: 0;
}

.content {
  margin-top: 95px;
  text-align: center;
  color: white;
}

.head {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
}

.cap {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  color: rgb(85, 162, 105);
}

.text {
  padding: 0 !important;
  padding-left: 14px !important;
}
.row {
  justify-content: center;
  align-items: center;
}
.graph {
  padding: 40px;
  opacity: 0.9;
}
